<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Date</title>
</head>
<body>
  <h1>Today</h1>
  <p>The date is <% days = %w(Sunday Monday Tuesday Wednesday Thursday Friday Saturday) %><% months = %w(January February March April May June July August September October November December) %><% currentTime = Time.now %><%= days[currentTime.wday] + ', ' + months[currentTime.month - 1] + ' ' + format('%02d', currentTime.mday) + ', ' + currentTime.year.to_s %>.</p>
</body>
</html> 